
/* Import some special fonts*/
@import url('http://fonts.cdnfonts.com/css/common-pixel');
@font-face {
    font-family: 'retro';
    src: URL("../Yngchch.github.io/ARCADECLASSIC.TTF") format('truetype');
} 
@font-face {
    font-family: 'retro2';
    src: URL('ARCADECLASSIC.TTF') format('truetype');
}  
@font-face {
    font-family: 'FFFFORWARD';
    src: URL("../Yngchch.github.io/FFFFORWA.TTF") format('truetype');
} 



.top{
      font-family: "retro",retro2, Arial;
      text-decoration: none;
      min-height: 100px;
      display: flex;
      flex-wrap: nowrap;
    }
.top div {
    float: left;
    clear: none;
}
.nav{
    width: 90%;  
    text-align: right;
    overflow: hidden;
    font-size: 30px;
    font-family: "retro",retro2, Arial;
    padding-bottom: 15px;
}

.nav a{
    float: right;
    color: white;
    padding-right: 2%;
    padding-top: 15px;
    text-decoration: none;
    transition: transform .3s; /* Animation time */
}

/* Change the size of links on hover */
.nav a:hover {
    -webkit-transform: scale(1.2);
}

/* Add a color to the active/current link */
.nav a.active {
    color: #D9591C;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 10%;
    min-width: 40px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #6B87FB;
    color: white;
    font-family: "retro",retro2, Arial;
    padding: 16px;
    font-size: 40px;
    border: none;
    transition: transform .3s; /* Animation time */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    font-family: "retro",retro2, Arial;
    min-width: 100px;
    /*box-shadow: 0px 2px 2px 0px rgba(0,0,0,1);*/
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    font-size: 24px;
    text-decoration: none;
    display: block;
    transition: transform .3s; /* Animation time */
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {-webkit-transform: scale(1.05); color: #FF8844;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    -webkit-transform: scale(1.2);
}

.wrapper{
    padding-top: 5px;
    text-align: center;
    padding-left: 35%;
}

.undergroundContainer{
    max-width: 100%;
    height: 1452px;
    background: url("container2.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    transition: transform .3s;
    display: flex;
    justify-content: center;
    /*box-shadow: 5px 5px 9px 1px #000000;*/
}