@font-face {
  font-family: 'Ailerons';
  src: URL('Fonts/Ailerons/Ailerons-Regular.otf') format('truetype');
}  
@font-face {
  font-family: 'goodTimes';
  src: URL('Fonts/good-times/goodTimes.otf') format('truetype');
}  
@font-face {
  font-family: 'nidusSans';
  src: URL('Fonts/nidus_sans/nidus_sans/nidsans-webfont.ttf') format('truetype');
}  
.neonText {
  color: white;
}
h1 {
  width: 100%;
  font-size: 12vh;
  /*animation: flicker 3s infinite alternate;   */  
}
h2 {
  font-size: 3.0rem;  
 /*animation: flicker 3s infinite alternate; */    

}
h1, h2 {
  font-family: "Ailerons", "Helvetica Neue", sans-serif;
  text-align: center;
  font-weight: 400;
}



/* Flickering animation 
@keyframes flicker {
    
  0%, 18%, 21%, 23%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #64F1FF,
      0 0 6px #64F1FF
  }
  20%, 22% {        
      text-shadow: none;
  }    
}*/











.button_text{
  --c: #FFF; /* the color  */
  --h: 1.2em;   /* the height */
  
  line-height: var(--h);
  background: 
    linear-gradient(var(--c) 0 0) no-repeat 
    calc(202% - var(--_p,0%)) 100%/200% var(--_p,.08em);
  color: #0000;
  overflow: hidden;
  text-shadow: 
    0 calc(-1*var(--_t,0em)) var(--c),     /* text-shadow | offset-x | offset-y | color */
    0 calc(var(--h) - var(--_t,0em)) #050E16;
  transition: .3s var(--_s,0s), background-position .3s calc(.2s - var(--_s,0s));
}
.button_text:hover {
  --_t: var(--h);
  --_p: 100%;
  --_s: .3s
}


.hover-2 {
  /* the height */
  --h: 1.2em;

  line-height: var(--h);
  background: 
    linear-gradient(#1095c1 0 0) 
    bottom/100% calc(100% - var(--_i, 1) * 100%) no-repeat;
  color: #0000;
  overflow: hidden;
  text-shadow: 
    0 var(--_i, var(--h)) #fff,
    0 0 rgb(0 0 0 / calc(var(--_i, 1) * 100%) );
  transition: 0.3s;
}
.hover-2:hover {
  --_i: 0;
}